{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer class="sticky-bottom">

            <div class="bg-base-200 py-6">
  <!-- Social Icons -->
  <ul class="flex justify-center space-x-4 mb-4">
    <li>
      <a href="https://www.facebook.com/mahimsoft" class="btn btn-circle btn-ghost">
        <img src="{% static 'images/fb.svg' %}" alt="Facebook" class="h-5 w-5" />
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn btn-circle btn-ghost">
        <img src="{% static 'images/insta.svg' %}" alt="Instagram" class="h-5 w-5" />
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn btn-circle btn-ghost">
        <img src="{% static 'images/twitter.svg' %}" alt="Twitter" class="h-5 w-5" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/masud-zaman-8b828749" target="_blank" class="btn btn-circle btn-ghost">
        <img src="{% static 'images/linkedin.svg' %}" alt="LinkedIn" class="h-5 w-5" />
      </a>
    </li>
    <li>
      <a href="https://github.com/masudJGTDSL" target="_blank" class="btn btn-circle btn-ghost">
        <img src="{% static 'images/git.png' %}" alt="GitHub" class="h-5 w-5" />
      </a>
    </li>
  </ul>

  <!-- Copyright -->
  <div class="text-center text-sm text-gray-600">
    &copy; {% now 'Y' %} 
    <a href="https://mahimsoft.com.bd/" target="_blank" class="link link-hover text-primary">
      Mahim Soft
    </a>
  </div>
</div>
</footer>
<!-- ================================
End Footer
================================= -->